.form input {
    border: 1px solid #ccc;
    width: 100%;
}

.form button {
    margin: 10px 0;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px 10px;
}

.form button:hover {
    background-color: rgb(99, 155, 174);
}